@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #2b2b31;
}
#logoName{
  /* font-family: 'Consolas', cursive; */
  color: #fff;
  font-size: 24px;
  
}
#header{
  height: 90px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: #2b2b31;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  padding: 0 216px 0 180px;
}

nav ul {
  list-style-type: none;
}

nav ul li{
  display: inline;
  color: #eee;
  /* text-transform: uppercase; */
  margin-right: 20px;
  color: rgba(255,255,255,0.75);
  font-family: "Poppins",sans-serif;
  font-weight: 300;
}

nav ul li a{
  text-decoration: none;
  color: rgba(255,255,255,0.75);

}

#movie-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin : 106px auto 0px auto;
  margin-bottom: 32px;
}

#movie-container .row{
  flex-basis: 100%;
  margin-top: 64px;
  height: 0;
}

.movieCard{
  flex: 1 0 16%;
  max-width: 16%;
  /* max-width: 16em; */
  margin: 0 16px 0px 16px;
  position: relative;
}

.titleMovie{
  color: #fff;
}

.genre{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 64px;
  color: #ddd;
  font-size: 11px;

  
}

.genreMovie{
  color: #ddd;
  flex: 1 0 20%;
  font-size: 11px;
  margin-right: 4px;
}

.pagination {
  flex: 1 0 100%;
  margin-top: 36px;
  margin-bottom: 36px;
  left: 8%;
  position: relative;
}

.pagination a {
  color:#fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 16px;
}

.addToWishList{
  flex: 1 1 100%;
  padding: 8px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  cursor: pointer;
}

.completeWishList{
  flex: 1 1 50%;
  padding: 8px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: green;
  cursor: pointer;
}


.removeWishList{
  flex: 1 1 50%;
  padding: 8px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: red;
  cursor: pointer;
  margin-left: 16px;
}

.btn-container{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-content: stretch;
  width: 100%;
}

#movie-detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin : 106px auto 0px auto;
  margin-bottom: 32px;
}

#movie-details{
  flex-basis: 100%;
  color: #eee;
  line-height: 2;
}

#movie-description p{
  margin-top: 16px;
}

#movie-description{
  /* background-color: #454555; */
  /* border : 1px solid rgba(0,0,0,.125); */
  border-radius: .25rem;
  color: #fff;
  flex-basis: 60%;
  line-height: 2;
}

#movie-additional table{
  font-size: 14px;
  color : #fff;
  margin-top: 32px;
  margin-left: 16px;
}

#movie-additional table tbody tr td{
  padding-bottom: 16px;
}

.addToWishListDetail{
  background-color: red;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
}

.mobile-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  place-items: center center;
  z-index: 99999;
  top: 0 !important;
}

@media screen and (max-width: 1000px) {
  .mobile-overlay{
    display: grid !important;
  }
}